<div>
  <div [class]="personalSubFilterGroupClass">
  <div [class]="chipRowClass">
    <button
      type="button"
      (click)="openPersonalCategories.emit()"
      [class]="subFilterChipBaseClass + ' cursor-pointer ' + namedChipInactiveClass"
    >
      Add
    </button>
    <button
      type="button"
      (click)="openPersonalCategories.emit()"
      [class]="subFilterChipBaseClass + ' flex-1 cursor-pointer ' + personalSubFilterChipActiveClass"
    >
      <app-home-sub-filter-count label="Current" [count]="10" />
    </button>
    <button
      type="button"
      (click)="openPersonalCategories.emit()"
      [class]="subFilterChipBaseClass + ' flex-1 cursor-pointer ' + statusChipInactiveClass"
    >
      <app-home-sub-filter-count label="Answered" [count]="3" />
    </button>
    <button
      type="button"
      (click)="openPersonalCategories.emit()"
      [class]="subFilterChipBaseClass + ' flex-1 cursor-pointer ' + statusChipInactiveClass"
    >
      <app-home-sub-filter-count label="Total" [count]="13" />
    </button>
  </div>
  <div [class]="chipRowClass + ' mt-2'">
    <button
      type="button"
      (click)="openPersonalCategories.emit()"
      [class]="subFilterChipWrapClass + ' cursor-pointer ' + namedChipInactiveClass"
    >
      <app-home-sub-filter-count label="Health" [count]="4" />
    </button>
    <button
      type="button"
      (click)="openPersonalCategories.emit()"
      [class]="subFilterChipWrapClass + ' cursor-pointer ' + namedChipInactiveClass"
    >
      <app-home-sub-filter-count label="Family" [count]="5" />
    </button>
    <button
      type="button"
      (click)="openPersonalCategories.emit()"
      [class]="subFilterChipWrapClass + ' cursor-pointer ' + namedChipInactiveClass"
    >
      <app-home-sub-filter-count label="Work" [count]="2" />
    </button>
  </div>
  </div>
</div>
